.hidden {
  display: none;
}
.checker {
    width: 450px;
    background-color: white;
    height: 800px;
    align-self: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #888;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #3f6072;
    .card-header, .card-action {
      height: 100px;
    }
    .card-content {
      height: calc(100% - 200px);
      flex-direction: column;
      display: flex;
      align-items: center;
    
      .question {
        padding: 20px;
        margin-bottom: 20px;
        text-align: left;
        width: 89%;
        font-size: 22px;
        font-weight: 900;
        color: #555;
        position: relative;
        height: 40%;
        display: flex;
        align-items: flex-end;
        &::before {
          content: '';
          background-color: #fae4e8;
          width: 34px;
          height: 2px;
          position: absolute;
          bottom: 0;
        }
      }
      
      .choice {
        display: flex;
        justify-content: space-around;
        width: 100%;
        button {
          width: 40%;
          height: 50px;
          border-radius: 30px;
          background-color: transparent;
          border: 2px solid var(--answer-border);
          color: var(--theme-background);

          &.selected {
            background-color: var(--theme-background);
            border-color: var(--theme-background);
            position: relative;
            color: white;
          }
        }
      }
      .outcome {
        margin: 0 30px;
        font-weight: 400;
        button {
          background-color: var(--theme-background);
          color: white;
          width: 100%;
          border-radius: 8px;
          border: none;
          margin-top: 1em;
          position: relative;
        }
      }
    }
    .card-action {
      display: flex;
      padding: 5px;
      button {
        align-self: center;
        width: 90%;
        background: var(--theme-background);
        border-radius: 7px;
        min-height: 50px;
        border: none;
        margin: 0 auto;
        position: relative;
        color: white;
        &:disabled {
          background: var(--disabled-button);
          color: var(--disabled-font-color);
        }
        &.restart {
          background: transparent;
          color: var(--theme-background);
          font-weight: 200;
          text-decoration: underline;
          &::after {
            content: none;
          }
        }
      }
    }
}

.row {
  position: relative;
  .header-action {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    &:before {
      content: url('./ic-arrow-left-green.svg');
      width: 41px;
      height: 32px;
      position: absolute;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-13px);
      font-size: 38px;
    }
  }

  .header-title {
    width: 100%;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1em;
  }
}

.selected::after {
    content: url('/ic-checkmark.svg');
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checker .card-action button, .book-meeting {
    &::after {
      content: url('./ic-arrow-right-white.svg');
      width: 12px;
      height: 18px;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      display: flex;
      /* align-items: center; */
      justify-content: center;
    }
    &:disabled::after {
      content: url('./ic-arrow-right-gray.svg');
    }
}

.card-header ul {
    display: flex;
    width: 100%;
    background: pink;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      flex: 1 1 0px;
      background-color: #eee;
      height: 2px;
      color: transparent;
      &.history {
        background-color: var(--theme-background);
      }
    }
}

@media screen and (max-width:700px) {
  .checker {
    width: 90%;
    height: 90%;
  }
}