@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --theme-background: #6accba;
  --disabled-button: #eceff1;
  --answer-border: #e4eaee;
  --font-color: #7B99A;
  --disabled-font-color: #858788;
}

body {
  background-color: var(--theme-background);
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserat', sans-serif;
  font-size: 17px;
  font-weight: bold;
}

#root {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}

